@import '../utils/variables.scss';

#root {
    text-align:justify;
    margin: 10px auto;
    min-height: 100vh;
    font-size: 20px;
    max-width: 70vw;
    padding: 2rem;
    font-family:garamond;
    color: $text;
}
@font-face {
    font-family: "garamond";
    src: url("/public/assets/font.ttf");
}
body {
    background-color: $background;
    
}
