@import '../utils/variables.scss';

p {
  text-align: justify;
}

a {
  color: $text;

  &:hover {
    background-color: $light;
    color: $dark
  }

  &:active {
    background-color: $dark;
    color: $light;
  }
}

h1 {
  text-decoration: underline double;
  display: flex;
  justify-content: center;

}

.links-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.link img {
  margin-right: 8px;
  width: 30px;
}

.smallGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: min-content;
  column-gap: 8px;
}

.homegrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  justify-items: center;
  padding-bottom: 50px;
  align-items: center;
}

.fotoPerfil {
  width: 80%;
  border-radius: 50%;
}


@media screen and (max-width: 1000px) {

  .fotoPerfil {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {

  .fotoPerfil {
    width: 60%;
  }

  .homegrid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {

  

  .smallGrid {
    width: 240px;
    justify-items: stretch;
  }

  h1,
  h2 {
    text-align: center;
  }
}