@import '../utils/variables.scss';

#experiencia,#proyectos{
    padding: 30px;
}

h2{
    align-self: self-start;
    display: flex;
    padding-top: 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.grid>img{
    width: 90%;
    padding-left: 50px;
    margin: auto;
    height: 90%;
}

.link{
    padding: 10px;
    margin: 10px 5px;
    border: solid $dark 2px;
    border-radius: 35px;
    text-decoration: none;
}